<!DOCTYPE html>
<html>
    <head>
        <title>Qatar World Cup!</title>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
        <script src="http://www.w3schools.com/lib/w3data.js"></script>
        <script src="include.js"></script>

        <link rel="stylesheet" href="MainPage.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap" rel="stylesheet">
    </head>
    <body>
        <header data-include="header.html"></header>

        <nav data-include="navigation.html"></nav>
        
        <section>

        </section>
        <footer>
        </footer>
    
    </body>

    <script>w3IncludeHTML();</script>
</html>